.div0 {
display: flex;
justify-content: center;
margin-bottom: 3px;
background-color: #493C3C;
color: #CEC0C0;
border-radius: 14px;
font-size: 11px;
width: 92px;
height: 29px;
align-items: center;
}
.section0{
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
}
.hr0{
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  border-left: 1px dashed;
  width: 1px;
  color: #493C3C;
}
.root{
  position: absolute;
  pointer-events: none;
  opacity: 0;
  left: 0;
  top: 0;

  transition: opacity 0.1s ease-out, transform 0.2s ease-in-out;
}